Ejercicio 1/Ejercicio1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:simpleType name="tipoId">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][0-9]{2,5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoEmail">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoIsbn">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{13}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoIssn">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{3}[0-9X]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="libros"/>
                <xs:element ref="revistas"/>
                <xs:element ref="usuarios"/>
                <xs:element ref="prestamos"/>
            </xs:sequence>
            <xs:attribute name="fecha" type="xs:date" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="libros">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="libro" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="libro">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="anio" type="xs:integer"/>
                <xs:element name="autores">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="autor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="orcid" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="etiquetas" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="etiqueta" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="tipoId" use="required"/>
            <xs:attribute name="categoria" type="xs:string" use="required"/>
            <xs:attribute name="isbn" type="tipoIsbn" use="required"/>
            <xs:attribute name="paginas" type="xs:integer" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="revistas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="revista" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="revista">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="anio" type="xs:integer"/>
            </xs:sequence>
            <xs:attribute name="id" type="tipoId" use="required"/>
            <xs:attribute name="area" type="xs:string" use="required"/>
            <xs:attribute name="issn" type="tipoIssn" use="required"/>
            <xs:attribute name="numero" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="usuarios">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="usuario" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="usuario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="email" type="tipoEmail"/>
            </xs:sequence>
            <xs:attribute name="id" type="tipoId" use="required"/>
            <xs:attribute name="tipo" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="prestamos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="prestamo" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="prestamo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fecha_inicio" type="xs:date"/>
                <xs:element name="fecha_fin" type="xs:date" minOccurs="0"/>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="tipoId" use="required"/>
            <xs:attribute name="itemRef" type="xs:string" use="required"/>
            <xs:attribute name="usuarioRef" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>